@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "StarJediHollow";
  src: url("/fonts/starjhol.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Base Star Wars styling */
.starwars {
  font-family: "StarJediHollow", sans-serif !important;
  letter-spacing: 0.14em;
}


/* Color variants*/
.starwars-yellow {
  color: #facc15;
  text-shadow:
    0 0 4px rgba(250, 204, 21, 0.9),
    0 0 12px rgba(250, 204, 21, 0.8),
    0 0 30px rgba(250, 204, 21, 0.6),
    0 0 60px rgba(250, 204, 21, 0.4);
}

.starwars-blue {
  color: #3b82f6;
  text-shadow:
    0 0 6px rgba(59, 130, 246, 0.9),
    0 0 18px rgba(59, 130, 246, 0.7),
    0 0 40px rgba(59, 130, 246, 0.5);
}

.starwars-white {
  color: #ffffff;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.8),
    0 0 18px rgba(255, 255, 255, 0.5);
}